body {
    background-color: #1f1f1f;
    color: #9fff9f;
    font-family: 'Courier New', Courier, monospace;
    margin: 4%;
    height: 100%;
    min-height: 100%;
}

header {
    background-color: #1f1f1f;
    color: #9fff9f;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 100%;
    min-height: 100%;
}

p#time {
    font-size: small;
}

p#info {
    font-size: small;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

li {
    padding-bottom: 16px;
}

a:link {
    color: #007fff;
}

a:visited {
    color: #7f00ff;
}

textarea {
    background-color: #2f2f2f;
    color: #9fff9f;
}

input {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2f2f2f;
    color: #9fff9f;
    border-color: #3f3f3f;
}

footer {
    margin-top: 40px;
    margin-right: 10px;
    font-size: small;
    text-align: center;
    height: 40px;
    width: 100%;
}

#fleft {
    float: left;
}

#fright {
    float: right;
}

@media screen and (max-width: 650px) {
    canvas {
        width: 100%;
        height: 100%;
    }

    #fleft {
        width: 100%;
        height: 100%;
    }

    #fright {
        width: 100%;
        height: 100%;
    }

    textarea {
        width: 100%;
    }
}